<div class="input-area">
  <ng-container *ngIf="comfyConfigExists; else showAddButton">
    <button
      id="editConfigButton"
      (click)="addConfig($event)"
      class="editConfigBttn"> ⚙️
    </button>
  </ng-container>

  <ng-template #showAddButton>
    <button
      id="addConfigButton"
      (click)="addConfig($event)"
      class="addConfigBttn">
        +
    </button>
  </ng-template>
  <input 
    type="text" 
    class="input-text"
    [placeholder]="placeholder"
    [value]="message"
    [disabled]="disabled"
    (input)="onInputChange($event)" 
    (keydown)="onKeyDown($event)"
    #inputText>
  <button 
    class="send-button"
    (click)="onSendMessage()" 
    [disabled]="isSending || disabled || !message.trim()">
    <div class="spinner" *ngIf="isSending"></div>
    <span *ngIf="!isSending">{{ sendButtonText }}</span>
  </button>
</div>