body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: #01257D;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #01257D;

}
.sidebar{
  background: linear-gradient(to right,#031d5e, #01257D);
    width: 15vw; /* 15% del viewport width - independiente del zoom */
    min-width: 15vw;
    max-width: 15vw;
    height: 100vh;
    transition: all 0.3s ease;

  ::ng-deep{
    .sidebar ul {
      list-style-type: none;
      padding: 0;
    }

    .sidebar ul li {
      padding: 10px;
      cursor: pointer;
      border-radius: 20px;
    }
   

    .sidebar ul li:hover, .sidebar ul li.selected {
      background-color: #031d5e;

    }
    .collection-item {
      position: relative; /* Relativo para que el botón pueda posicionarse dentro del contenedor */
      padding-right: 60px; /* Dar espacio al botón dentro del contenedor */
      margin-bottom: 10px; /* Espaciado entre los elementos de la lista */
    }
  }
}
.collapse-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color:transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    z-index: 1; /* Asegura que el botón esté por encima de todo */
  }

.chat-area {
  width: 100%;
  display: flex;
  background-color: #01257D;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  transition: width 0.3s ease;

}

.chat-area.expanded {
  width: 100%;
}

.chat-area.collapsed {
  width: calc(100% - 15vw);
  
}

#uploadButton{
  position: absolute;
  margin: 10px;
  top: 15px; /* Ajusta la distancia desde el borde superior */
  right: 15px; /* Ajusta la distancia desde el borde derecho */
  padding: 0 20px; /* Añade más padding horizontal para acomodar el texto */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex; /* Usa inline-flex para centrar el contenido horizontal y verticalmente */
  align-items: center; /* Centra verticalmente el texto dentro del botón */
  justify-content: center; /* Centra horizontalmente el texto dentro del botón */
  text-align: center; /* Asegura que el texto esté centrado */
  text-decoration: none;
  z-index: 100;
  height: 7vh;
  width: 12vh;
  font-size: clamp(1px, 1vw, 1.5vh); /* Ajusta el tamaño de fuente según el tamaño del botón */

}
#uploadButton:hover {
  background-color: #377cc7;
}
/* Estilos para el área de chat */

/* Mensajes del usuario alineados a la derecha */
.chat-output{
    position: relative;
  overflow: hidden; // clave para recortar los pseudo-elementos

  margin-top: 11px;
  border: 1px solid transparent;
  background-color: transparent;
  height: 90vh;

  &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 30px; // Altura del difuminado
      
        pointer-events: none;
      }

      &::before {
        top: 0;
        background: linear-gradient(to bottom, #01257D, transparent);
      }

      &::after {
        bottom: 0;
        background: linear-gradient(to top, #01257D, transparent);
      }
 }



/* Estilos para el botón de eliminación */
.delete-button {
  display: flex; /* Utiliza Flexbox para facilitar el centrado */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  padding: 5px 10px; /* Ajustar el tamaño del botón */
  background-color: #d15151; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor cuando esté sobre el botón */
  height: 20px;
  position: absolute; /* Mantener el posicionamiento absoluto */
  right: 10px; /* A 10px del borde derecho */
  top: 50%; /* Centrar verticalmente dentro del contenedor */
  transform: translateY(-50%); /* Ajuste final del centrado vertical */
}

/* Efecto hover para el botón */
.delete-button:hover {
  background-color: #ff4a4a;
}

.edit-button {
  display: flex; 
  justify-content: center;
  align-items: center;
  //padding: 5px ; 
  background-color: #034b23; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 10px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor cuando esté sobre el botón */
  height: fit-content;
  width: fit-content;
  position: absolute; /* Mantener el posicionamiento absoluto */
  right: 40px; 
  top: 50%; /* Centrar verticalmente dentro del contenedor */
  transform: translateY(-50%); /* Ajuste final del centrado vertical */
}

/* Efecto hover para el botón */
.edit-button:hover {
  background-color: #02381a;
}


/* Contenedor principal de contenido */
.main-content {
  display: flex;
  width: 100%;
  background-color: #504f4f;
  flex-grow: 1;
  transition: margin-left 0.3s;
   /* Espacio dejado por la barra lateral */
  position: relative; /* Necesario para el posicionamiento absoluto del botón */
}

/* Contenedor expandido */
.main-content.expanded {
  margin-left: 5px; /* Reducir el margen cuando la barra lateral esté colapsada */
}

/* Fondo oscuro que cubre todo */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); // Fondo semi-transparente
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Asegura que esté por encima de todo
}


/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Deshabilitar scroll y clicks en el fondo */
body.modal-open {
  overflow: hidden;
}
.user-input{
    height: 5vh;
    margin-bottom: 1px;
    margin-bottom: 1vh;

}