<!-- rag-ddbb.component.html -->
<div class="container">
  <app-sidebar class="sidebar"
    [title]="'DataBases'"
    [sidebarCollapsed]="sidebarCollapsed" 
    (toggleSidebarEvent)="toggleSidebar()">
    <div sidebarContent>
      <ul id="collections-list">
        <app-sidebar-item 
        *ngFor="let config of configList"
        [item]="config"
        [isSelected]="selectedConfig === config"
        [displayField]="'connection_name'"
        (selectItem)="onSelectItem($event)"
        (itemDeleted)="onItemDeleted($event)"
        (connectionError)="handleConnectionError($event)"
        (openModal)="abrirModal($event)">
        >
      </app-sidebar-item>
      </ul>    
      <app-button-container></app-button-container>
    </div>
  </app-sidebar>
  
  
  <button id="toggleSidebar" class="collapse-btn" (click)="toggleSidebar()">☰</button>

  <div class="main-content" [class.expanded]="sidebarCollapsed">
    <div class="chat-area" id="chat-area">
    <!-- primera-ventana.component.html -->
    <div class="chat-output">
      <app-chat-output id="chat-output" [messages]="messages" [showTables]="true"></app-chat-output>
    </div>
    <app-user-input
    class="user-input"
    [placeholder]="'Type your message here...'"
    [isSending]="isSending"
    [message]="currentMessage"
    [disabled]="!selectedConfig"
    [sendButtonText]="'Send'"
    (messageChange)="onMessageChange($event)"
    (sendMessage)="sendMessage($event)">
  </app-user-input> 
     <button (click)="abrirModal()" id="uploadButton" class="button">Add DB Config</button>

     <!-- Ventana Emergente -->
     <div class="overlay" *ngIf="mostrarModal">
       <div class="modal">
        <app-ddbb-conf *ngIf="mostrarModal" [dbConfig]="selectedConfig" (cerrarModal)="cerrarModal()"></app-ddbb-conf>
      </div>
     </div>
    </div>
  </div>
</div>