/* upload.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative; /* Necesario para posicionar el botón "Back to Chat" */
    background-color: #504f4f;

}

.upload-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: relative; /* Necesario para centrar el contenido en el contenedor */
}

#dropzone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    cursor: pointer;
}

#fileInput {
    display: none;
}

input[type="file"] {
    display: none;
}

select, input[type="text"] {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
/* Estilo para el botón de carga */
#uploadButton {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo para el botón "Back to Chat" */
#backButton {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    left: 20px; /* Ajusta la distancia desde el borde izquierdo */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Quita el subrayado del enlace */
    font-size: 16px;
}
.progress-bar-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 10px;
    height: 20px;
    display: none; /* Oculta la barra hasta que comience la carga */
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    transition: width 0.4s ease;
}

#progressPercent {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
    display: none; /* Oculta el porcentaje hasta que comience la carga */
}
