<!-- rag-ddbb.component.html -->
<div class="container">
  <div class="sidebar" [class.collapsed]="sidebarCollapsed" id="sidebar">
    <h2 align="right" id="collectionsTitle">Configs</h2>
    <ul id="collections-list">
      <li *ngFor="let config of configList"
          [class.selected]="selectedConfig === config"
          class="collection-item"
          (click)="selectConfig(config)">
        {{ config.connection_name }}
        <button class="edit-button" (click)="abrirModal(config)">⚙</button>

        <button class="delete-button" (click)="deleteConfig(config, $event)">-</button>
      </li>
    </ul>
    <div class="button-container">
      <button id="logoutButton" class="logout-btn" (click)="logout()">Logout</button>
      <button id="menuButton" class="main-btn" (click)="navigateToMenu()">Menu</button>
    </div>
  </div>
  
  <button id="toggleSidebar" class="collapse-btn" (click)="toggleSidebar()">☰</button>

  <div class="main-content" [class.expanded]="sidebarCollapsed">
    <div class="chat-area" id="chat-area">
    <!-- primera-ventana.component.html -->
    <div class="chat-output">
      <app-chat-output id="chat-output" [messages]="messages" [showTables]="true"></app-chat-output>
    </div>
      <div class="input-area">
        <input type="text" 
        id="inputText" 
        placeholder="Type your message here..." 
        [value]="message"
        (input)="message = $any($event.target).value" 
        (keydown.enter)="sendMessage(); $event.preventDefault()"
        #inputText>
        <button id="sendButton" 
                (click)="sendMessage()" 
                [disabled]="isSending">
          <div class="spinner" *ngIf="isSending"></div>
          <span *ngIf="!isSending">Send</span>
        </button>
      </div>

     <button (click)="abrirModal()" id="uploadButton" class="button">Add DB Config</button>

     <!-- Ventana Emergente -->
     <div class="overlay" *ngIf="mostrarModal">
       <div class="modal">
        <app-ddbb-conf *ngIf="mostrarModal" [dbConfig]="selectedConfig" (cerrarModal)="cerrarModal()"></app-ddbb-conf>
      </div>
     </div>
    </div>
  </div>
</div>