.dropdown-container {
  width: 300px;
  margin-top: 10px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #504f4f2f;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Para compatibilidad */
  cursor: pointer;
  box-sizing: border-box;
}

select:hover {
  background-color: #19191a91;
}

/* Estilizar el dropdown */
.ng-select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #504f4f28;
  cursor: pointer;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Para compatibilidad */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

.ng-select:focus {
  outline: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Estilizar las opciones */
.ng-option {
  padding: 10px;
  cursor: pointer;
}

.ng-option:hover {
  background-color: #504f4f;
}

select option {
  background-color: #504f4f36; /* Esto a veces funciona, pero no en todos los navegadores */
  color: white;
}