
.sidebar {
width: 250px;
//   background: linear-gradient(to right,#333, #504f4f);
color: white;
padding: 20px;
box-sizing: border-box;
transition: width 0.3s ease, visibility 0.3s ease;
position: relative;
overflow: hidden;
height: 100vh;
}


.sidebar.collapsed {
//visibility: visible; /* Mantiene visible el botón de colapsar */
position: absolute;
top: 0;
left: 0;
width: 50px; /* Ajusta el ancho del botón para que se mantenga en pantalla */
height: 50px;
background-color: #444;
text-align: center;
visibility: hidden; /* Evita que se pueda interactuar con los elementos dentro del sidebar */

}
.sidebar h2 {
margin-top: 0;
}




.collection-item {
position: relative; /* Relativo para que el botón pueda posicionarse dentro del contenedor */
padding-right: 60px; /* Dar espacio al botón dentro del contenedor */
margin-bottom: 10px; /* Espaciado entre los elementos de la lista */
}

.button-container {
    position: absolute;
    bottom: 20px; /* Distancia desde la parte inferior */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajuste fino de centrado */
    display: flex; /* Mostrar elementos en una fila */
    gap: 10px; /* Espaciado entre botones */
    justify-content: center; /* Centrar los botones horizontalmente */
    align-items: center; /* Asegurar alineación vertical */
    width: 100%; /* Usar el ancho total del sidebar */
    box-sizing: border-box;
  }
  .logout-btn, .main-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px; /* Ajusta el padding para un tamaño basado en el texto */
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  }
  
  .logout-btn:hover {
    background-color: #377cc7;
  }
  
  .main-btn {
    background-color: #28a745; /* Color verde para diferenciación */
  }
  
  .main-btn:hover {
    background-color: #218838;
  }
  