.collection-item{
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    position: relative; /* Relativo para que el botón pueda posicionarse dentro del contenedor */
    padding-right: 60px; /* Dar espacio al botón dentro del contenedor */
    margin-bottom: 10px; /* Espaciado entre los elementos de la lista */
   
}
.delete-button {
    display: flex; /* Utiliza Flexbox para facilitar el centrado */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 5px 10px; /* Ajustar el tamaño del botón */
    background-color: #d15151; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor cuando esté sobre el botón */
    height: 20px;
    position: absolute; /* Mantener el posicionamiento absoluto */
    right: 10px; /* A 10px del borde derecho */
    top: 50%; /* Centrar verticalmente dentro del contenedor */
    transform: translateY(-50%); /* Ajuste final del centrado vertical */
  }
  
  /* Efecto hover para el botón */
  .delete-button:hover {
    background-color: #ff4a4a;
  }
  .edit-button {
    display: flex; 
    justify-content: center;
    align-items: center;
    //padding: 5px ; 
    background-color: #034b23; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor cuando esté sobre el botón */
    height: fit-content;
    width: fit-content;
    position: absolute; /* Mantener el posicionamiento absoluto */
    right: 40px; 
    top: 50%; /* Centrar verticalmente dentro del contenedor */
    transform: translateY(-50%); /* Ajuste final del centrado vertical */
  }
  .edit-button:hover {
    background-color: #02381a;
  }
  