<!-- pdf.component.html -->
<div class="container">

  <app-models-list (modelSelected)="onModelSelected($event)"class="fixed-models-list"></app-models-list>
    <app-sidebar class="sidebar"
      [title]="'Chats'"
      [sidebarCollapsed]="sidebarCollapsed" 
      >
      <div sidebarContent>
        <button id="createChatButton"
          (click)="createChat($event)" 
          class="add-button">
      +
        </button>
        <ul>
          <app-sidebar-conversations-item 
            *ngFor="let chat of chats"
            [collection]="chat"
            [isSelected]="selectedChat === chat"
            [displayField]="'chat'"
            (selectItem)="selectChat($event)"
            (conversationLoaded)="renderConversation($event)"
            (itemDeleted)="deleteChat($event)">
          </app-sidebar-conversations-item>
        </ul>
        <app-button-container></app-button-container>

    </div>
    </app-sidebar>
  <!-- <div class="sidebar" [class.collapsed]="sidebarCollapsed" id="sidebar"> -->
  <button id="toggleSidebar" class="collapse-btn" (click)="toggleSidebar()">☰</button> 

  <div class="main-content" [class.expanded]="sidebarCollapsed">
    <div class="chat-area" id="chat-area">
      <div class="chat-output">
        <app-chat-output-chatbot id="chat-output" [messages]="messages" ></app-chat-output-chatbot>
      </div>
    <app-user-input-chatbot
    class="user-input"
    [placeholder]="'Type your message here...'"
    [isSending]="isSending"
    [message]="currentMessage"
    [disabled]="!selectedChat"
    [sendButtonText]="'Send'"
    (messageChange)="onMessageChange($event)"
    (sendMessage)="sendMessage($event)"
    (toolConfigSelected)="onToolConfigSelected($event)">
  </app-user-input-chatbot> 

     <!-- Ventana Emergente -->
     <div class="overlay" *ngIf="mostrarModal">
       <div class="modal">
         <app-upload-Comfy (cerrarModal)="cerrarModal()"></app-upload-Comfy>
       </div>
     </div>
    </div>
  </div>
</div>