.message-table {
    margin-top: 10px;
    width: 100%;
    overflow-x: auto;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    
    th, td {
      padding: 8px;
      border: 1px solid #ddd;
      text-align: center;  // Cambia 'left' a 'center' para alineación horizontal
      vertical-align: middle;  // Añade esto para alineación vertical
    }
    
    th {
      font-weight: bold;
    }
  }