<!-- upload.component.html -->
<div class="config-adder-container">
    <button class="backButton" id="backButton" (click)="cerrar()">X</button>
  
  
      <!-- Nuevos campos para configuración de base de datos -->
      <div class="database-config">
        <h1 >Add DDBB Configuration</h1>

        <div class="form-group">

          <input 
          type="text" 
          id="name of connection" 
          placeholder="Name of connection" 
          [(ngModel)]="dbConfig.connection_name"
          text-size="11" 
          name="sqlite_path">
        </div>
        
        <div class="form-group">
          <label for="type_db">Database Type:</label>
          <select 
            id="type_db" 
            [(ngModel)]="dbConfig.type_db" 
            name="type_db"
            class="form-control mt-2 mb-3"
          >
            <option value="postgresql">PostgreSQL</option>
            <option value="mysql">MySQL</option>
            <option value="sqlite">SQLite</option>
          </select>
        </div>
      
        <!-- Formulario para SQLite -->
        <div *ngIf="dbConfig.type_db === 'sqlite'">
          <div class="form-group">
            <label for="sqlite_path">Database Path:</label>
            <input 
              type="text" 
              id="sqlite_path" 
              placeholder="e.g., /path/to/database.sqlite" 
              [(ngModel)]="dbConfig.database_path"
              text-size="11" 
              name="sqlite_path">
          </div>
        </div>
      
        <!-- Formulario para otras bases de datos -->
        <div *ngIf="dbConfig.type_db !== 'sqlite'">
          <div class="form-group">
            <label for="user">Database User:</label>
            <input 
              type="text" 
              id="user" 
              placeholder="Username" 
              [(ngModel)]="dbConfig.user"
              text-size="11" 
              name="user">
          </div>
          
          <div class="form-group">
            <label for="password">Database Password:</label>
            <input 
              type="password" 
              id="password" 
              placeholder="Password" 
              [(ngModel)]="dbConfig.password"
              text-size="11" 
              name="password">
          </div>
          
          <div class="form-group">
            <label for="host">Host:</label>
            <input 
              type="text" 
              id="host" 
              placeholder="e.g., localhost, 127.0.0.1" 
              [(ngModel)]="dbConfig.host"
              text-size="11" 
              name="host">
          </div>
          
          <div class="form-group">
            <label for="port">Port:</label>
            <input 
              type="text" 
              id="port" 
              placeholder="e.g., 5432, 3306" 
              [(ngModel)]="dbConfig.port"
              text-size="11" 
              name="port">
          </div>
          
          <div class="form-group">
            <label for="database_name">Database Name:</label>
            <input 
              type="text" 
              id="database_name" 
              placeholder="Database name" 
              [(ngModel)]="dbConfig.database_name"
              text-size="11" 
              name="database_name">
          </div>
        </div>
      </div>
      

   
      
      <div class="loader-container" [style.display]="isLoading ? 'block' : 'none'">
        <div class="circle-loader">
          <div class="circle"></div>
        </div>
      </div> 
      <div class="buttons-container">
        <button class="connectButton" id="connectButton" (click)="try_connection()">Try connection</button>
        <button class="saveButton" id="saveButton" (click)="save_config()">save config</button>
    </div>
  </div>